.cell {
  display: flex;

  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-right-color: #424242;
  border-bottom-color: #424242;
  background: silver;
  color: black;
  padding: 0 0 4px;
  border-radius: 1px;

  min-width: 30px;
  min-height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-weight: 600;
  transition: background-color 0.2s;
}

.cell:not(first-child) {
  margin-left: 5px;
}

.cell:focus {
  outline: none;
}

.cell.hidden {
}
.cell.hidden:hover {
}

/* Flagged incorrectly*/
.cell.is-flag:not(.is-mine):not(.hidden) {
  background-color: rgb(175, 62, 77);
}

/* Flagged correctly */
.cell.is-flag.is-mine:not(.hidden) {
  background-color: #4f8755;
}

/* Clicked on a mine*/
.cell.is-mine.is-clicked {
  background-color: rgb(175, 62, 77);
}

/* Empty revealed cells*/
.cell.is-empty:not(.hidden):not(.is-mine):not(.is-flagged) {
  /* background-color: rgb(121, 65, 68); */
  border: 2px inset #fff !important;
  color: #424242;
  box-shadow: -1px -1px #000 !important;
  outline: 0 !important;
  /* background: url(./images/win95/background.bmp); */
}
